@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-region {
  -webkit-app-region: drag;
}

.drag-no-region {
  -webkit-app-region: no-drag;
}

.w-[0-60px]-transition {
  transition: width 0.3s linear;
  will-change: width;
  background: #000;
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
}

#app {
  display: grid;
  grid-auto-rows: 33px calc(100% - 66px) 33px;
  overflow: hidden;
}